/* stylelint-disable docusaurus/copyright-header */

/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #BD0305;
}

.mentorsHeader {
  text-align: center;
  padding: .7rem;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.features {
  display: flex;
  align-items: flex-start;
  padding: 2rem 0;
  width: 100%;
  margin: 0 auto;
  max-width: 780px;
}

.featureImage {
  height: 125px;
  width: 125px;
  border-radius: 100%;
}
